.Members {
	table {
		width: 100%;
		border: none;
		border-top: 2px solid #333;
		border-bottom: 2px solid #333;

		margin-top: 50px;

		th {
			width: 20%;
			border: none;
			border-bottom: 1px solid #bbb;
			padding: 15px 30px;
			text-align: left;
			&:last-child {
				text-align: center;
				input[type='submit'],
				input[type='reset'] {
					border: 1px solid #aaa;
					width: 150px;
					height: 30px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					margin: 0px 10px;
					cursor: pointer;
					transition: 0.2s;

					&:hover {
						border: 1.5px solid #111;
					}
				}
			}
		}
		td {
			border: none;
			border-bottom: 1px solid #bbb;
			border-left: 1px solid #bbb;
			padding: 15px 30px;
			label {
				padding-right: 10px;
				margin-left: 5px;
			}

			input[type='text'],
			input[type='password'] {
				width: 40%;
				border: 1px solid #aaa;
				padding: 6px 10px;
				background: #f3ffff;
			}
			p {
				font: 0.8rem/1.2 '돋움';
				color: red;
				margin-top: 5px;
			}
		}
	}
}

//tablet mediaquery
.tablet,
.mobile {
	.Members {
		table {
			td {
				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 100%;
				}
			}
		}
	}
}

//tablet mediaquery
.mobile {
	.Members {
		table {
			th {
				display: none;
				&:last-child {
					display: block;
					width: 100%;

					input {
						width: 40%;
					}
				}
			}
			td {
				width: 100%;
				border-left: none;
				padding: 20px 0px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 100%;
				}
			}
		}
	}
}
