.Department {
	figure {
		background-color: lightblue;
	}

	.main {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-bottom: 100px;
		align-items: flex-start;

		.h_1 {
			font: 1.5rem;

			.h_2 {
				color: orange;
				text-decoration: underline;
			}
		}

		.p_1 {
			margin-left: 100px;
		}
	}

	.mainbox {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.textbox {
			width: 200px;
			height: 200px;

			padding-top: 10px;
			border-top: 0.3px solid black;

			margin: 30px;
		}
	}

	.memberBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		article {
			width: 30%;
			margin-bottom: 100px;

			.pic {
				width: 100%;
				height: 30vw;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h2 {
				margin-bottom: 10px;
			}
		}
	}
}
