.Contact {
	figure {
		background: orange;
	}

	.content {
		width: 100%;
		background: #f7f7f7;

		.line_1 {
			margin-top: 50px;
			padding-bottom: 50px;
			border-top: 1px solid gray;
		}

		h1 {
			text-align: center;
		}
		#mailBox {
			width: 70vw;
			margin: 0px auto;
			margin-bottom: 100px;

			.upper {
				width: 100%;
				display: flex;
				flex-direction: column; /* 요소를 세로로 배치 */
				margin-bottom: 50px;
				justify-content: space-between;

				span {
					width: 100%;
					padding-bottom: 10px;

					label {
						font: bold 1rem/1 'arial';
						color: #555;
						margin-right: 5px;
						margin-left: 50px;
						position: relative;
					}
					input[type='text'],
					input[type='email'] {
						width: 75%;
						border: none;
						padding: 10px 20px;
						border-bottom: 1px solid #555;
						margin-right: 50px;
						margin-left: 50px;
						outline: none;
						transition: 0.5s;

						&:focus {
							background: rgba(171, 181, 191, 0.577);
						}
					}
				}
			}
			.lower {
				width: 100%;
				margin-bottom: 10px;

				label {
					font: bold 1rem/1 'arial';
					color: #555;
					margin-right: 5px;
					margin-left: 50px;
					position: relative;
				}
				textarea {
					width: 75%;
					border: none;
					padding: 10px 20px;
					border-bottom: 1px solid #555;
					margin-left: 30px;
					outline: none;
					transition: 0.5s;

					&:focus {
						background: rgba(171, 181, 191, 0.577);
					}
				}
			}

			.btnSet {
				width: 95%;
				display: flex;
				margin-top: 20px;
				justify-content: flex-end;

				input {
					width: 150px;
					border: 1px solid #555;

					background: #555;
					margin-right: 25px;
					color: #fff;
					cursor: pointer;
					font: 1rem/40px 'arial';
					text-align: center;
					transition: 0.3s;

					&:hover {
						border: 1px solid #111;
						background: #f2f2f2;
						color: #111;
					}
				}
			}
		}

		#mapBox {
			.btnSet {
				width: 83%;
				display: flex;
				justify-content: flex-end;
				margin-bottom: 30px;
				button {
					width: 150px;
					padding: 10px;
					margin-right: 25px;
					border: none;
					background: #555;
					color: #fff;
				}
			}
			.container {
				width: 100%;
				height: 60vh;
				background: #111;
				position: relative;

				.map,
				.view {
					width: 100%;
					height: 100%;
					background: #111;
					position: absolute;
					top: 0;
					left: 0px;
					opacity: 0;
					z-index: 1;

					&.on {
						opacity: 1;
						z-index: 2;
					}
				}
			}

			ul {
				width: 80%;
				display: flex;
				justify-content: flex-end;
				margin-top: 20px;
				margin-bottom: 20px;
				gap: 20px;

				li {
					cursor: pointer;
				}

				li.on {
					color: hotpink;
				}
			}
		}
	}
	.mainbox {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 100px;

		.textbox {
			width: 17%;
			height: 25vh;
			padding: 20px;
			margin: 30px;
			transform: scale(1.1);
			transition: 0.3s;

			&:hover {
				transform: scale(1.2);
				box-shadow: 3px 3px 3px 3px gray;
			}

			.in_t_box {
				border-top: 0.3px solid black;

				transition: 1s linear;
				padding: 10px;

				p {
					padding-top: 10px;
					font-size: 12px;
					color: gray;
				}
			}
		}
	}
}
